@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("./header.css");
@import url("./the2019Section.css");
@import url("./FotoTenisThreeExamples.css");
@import url("./NikeKyrie4.css");
@import url("./FotoTenisChineseNewYear.css");
@import url("./footer.css");

body,
a {
  font-family: "Roboto", "Arial", "sans-serif";
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
